*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

ul{
	font-size:0;
}

li{
	list-style-type:none;
}

.container{
	max-width:1500px;
	width:100%;
	margin:0 auto;
}

.content{
	position:relative;
	width:100%;
	min-height:100vh;
}
.rectangle{
	position:absolute;
	top:80%;
	left:50%;
	transform:translate(-50%, 0);
}

.arrow{
	/*position:relative;*/
	width:30px;
	height:30px;
	display:block;
	border-bottom:2px solid #00f;
	border-right:2px solid #00f;
	transform:rotate(45deg);

	animation-name:moving-down;
	animation-duration:2s;
	animation-timing-function:ease-in;
	animation-iteration-count:infinite;

	margin:-5px;
}
.arrow:nth-child(2){
	animation-delay:0.2s;
}
.arrow:nth-child(3){
	animation-delay:0.4s;
}

@keyframes moving-down{
	0%{
		opacity:0;
		transform:rotate(45deg) translate(-15px, -15px);
		/*если есть ранее rotate , то в анимации нужно его повоторять!*/
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
		transform:rotate(45deg) translate(15px, 15px);
	}
}