* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #d3d8db;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding: 40px 0;
}

.switcher-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .switcher-row {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 930px) {
  .switcher-row {
    padding-bottom: 24px;
  }
}

.switcher-row .switcher-content {
  display: inline-block;
  position: relative;
}

.switcher-row .switcher-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 225px;
  background-color: #ffffff;
  border: 1px solid #E5E9EC;
  border-radius: 50px;
  padding: 11px 30px;
}

@media screen and (max-width: 1200px) {
  .switcher-row .switcher-block {
    padding: 10px 30px;
  }
}

.switcher-row .switcher-block .toggle {
  display: inline-block;
  position: relative;
  width: 37px;
  min-width: 37px;
  height: 20px;
  border-radius: 20px;
  background-color: #D6F4FD;
  margin: 0 15px;
  cursor: pointer;
}

.switcher-row .switcher-block .b {
  display: block;
}

.switcher-row .switcher-block .check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.switcher-row .switcher-block .check:checked ~ .switch {
  right: 2px;
  left: 49.5%;
  -webkit-transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-delay: .08s, 0s;
          transition-delay: .08s, 0s;
}

.switcher-row .switcher-block .switch {
  position: absolute;
  left: 3.5px;
  top: 2px;
  bottom: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #7CCBE5;
  z-index: 1;
  -webkit-transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-delay: 0s, .08s;
          transition-delay: 0s, .08s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.switcher-row .switcher-block .toggler {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2;
  color: #929292;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.switcher-row .switcher-block .toggler.toggler--is-active {
  color: #1A1A1A;
}

.switcher-row .discount-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  left: 100%;
  padding-left: 15px;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .switcher-row .discount-block {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: inherit;
    left: inherit;
    padding: 0;
    text-align: center;
    padding-top: 3px;
  }
}

.switcher-row .discount-block .icon {
  display: inline-block;
  width: 25px;
  min-width: 25px;
  height: 18px;
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .switcher-row .discount-block .icon {
    display: none;
  }
}

.switcher-row .discount-block .icon svg {
  fill: #FF6166;
}

.switcher-row .discount-block span {
  display: inline-block;
  font-size: 18px;
  color: #303030;
  line-height: 1.55;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .switcher-row .discount-block span {
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FF6166;
  }
}
/*# sourceMappingURL=style.css.map */