*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.wrapper{
	max-width:1024px;
	width:100%;
	margin:0 auto;
}
.container{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.box{
	width:200px;
	height:200px;
	background-color:#ccc;
	border-radius:50%;
	position:relative;
	transition:all 0.3s ease-in;
}
.box:hover::before,
.box:hover::after{
	content:'';
	border:1px solid #ccc;
	position:absolute;
	top:-60px;
	right:-60px;
	left:-60px;
	bottom:-60px;
	border-radius:50%;
	animation:pulsation 1.4s ease-in-out infinite;
	opacity:0; /*в самом начале его нужно скрыть*/
}
.box:hover::after{
	animation-delay:0.2s;
}

.box__phone{
	position:absolute;
	top:45px;
	left:45px;
	opacity:1;
	animation:bell 1s ease-in-out infinite;
}
.box__phone img{
	width:100px;
	transition:all 0.3s ease-in;
}

.box__text{
	position:absolute;
	top:70px;
	left:55px;
	font-size:50px;
	line-height:54px;
	font-family:Arial, Helvetica, sans-serif;
	opacity:0;
	transform:scaleX(-1); /*зеркальное отображение по оси X*/
	transition:all 0.3s ease-in-out;
}
.box:hover .box__text{
	transform:scaleX(1);
	opacity:1;
}
.box:hover .box__phone img{
	transform:scale(0);
	transition:all 0.2s ease-in-out;
}
.box:hover{
	cursor:pointer;
	background-color:#c1c1c1;
}

@keyframes bell{
	0%{
		transform:rotate(-10deg);
	}
	50%{
		transform:rotate(20deg);
	}
	100%{
		transform:rotate(-10deg);
	}
}

@keyframes pulsation{
	0%{
		transform:scale(0);
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		transform:scale(1.2);
		opacity:0;
	}
}