*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	border:0;
}

body{
	font:20px/22px Arial, Helvetica, sans-serif; color:#000;
}

.container{
	max-width:1024px;
	padding:20px 10px;
	margin:0 auto;
}

.menu__item,
.sub-menu__item,
.low-sub-menu__item{
	position:relative;
	list-style:none;
}

.menu__link,
.sub-menu__link,
.low-sub-menu__link{
	text-decoration:none;
}

.menu__arrow{
	display:none;
	position:absolute;
	top:8px;
	right:0;
	width:0;
	height:0;
	border-top:10px solid #000;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
}


/*The first level*/
.menu__list{
	display:flex;
}
.menu__item{
	margin:0 20px 0 0;
}


/*The second level*/
.sub-menu__list{
	display:none;
	min-width:150px;
	position:absolute;
	top:20px;
	left:0;
	padding:10px 0 0;
}
.sub-menu__item{
	background-color:#e9e9e9;
}
.sub-menu__link{
	display:inline-block;
	padding:5px 10px;
	color:#000;
}


/*The third level*/
.low-sub-menu__list{
	display:none;
	min-width:150px;
	position:absolute;
	top:0;
	left:100%;
	padding:0 0 0 5px;
}
.low-sub-menu__item{
	background-color:#ccc;
}
.low-sub-menu__link{
	display:inline-block;
	padding:5px 10px;
}


/*media queries*/
@media screen and (min-width:1024px){
	.menu__item:hover .sub-menu__list{
	display:block;
}
	.sub-menu__item:hover .low-sub-menu__list{
		display:block;
	}
}

@media screen and (max-width:1023px){
	.menu__arrow{
		display:block;
	}
	.menu__item.bbb{
		padding:0 25px 0 0;
	}
}