@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$base-font-family-sans-serif:'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

//link's color
$white:            #fff;
$black:            #000;
$trolley-grey-800: #414141;
$trolley-grey-700: #565656;
$trolley-grey-500: #808080;
$trolley-grey-400: #959595;
$trolley-grey-300: #AAAAAA;
$slate-blue-600:   #45688F;
$slate-blue-400:   #6683A3;
$cobalt-500:       #2E3DBE;
$jelly-bean-500:   #E15554;
$red:              #FF1B1B;
$grey:             #BCBDBB;
$light-grey:       #D4D4D4;
$dark-orange-500:  #FF9000;
$dark-orange-300:  #FFA42E;

//headings
$h1-font-size:64px;
$h2-font-size:32px;
$h3-font-size:24px;
$h4-font-size:14px;

//text
$p-font-size:12px;
