@import 'include-media';

@import 'reset';
@import 'variables';


html, .wrapper {
	min-height: 100vh;
}

//common
body{
  background-color: $cobalt-500;
	font-family: $base-font-family-sans-serif;
}
.container{
	width: 100%;
	max-width: 1840px;
	padding: 0 16px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.title{
	font-size:$h1-font-size;
}

.text{
	font-size:$p-font-size;
	color:$trolley-grey-800;
}

.main {
	flex: 1;
}

.ico {
  display: inline-block;

  &.ico-facebook {
    width: 20px;
    height: 20px;
  }

  &.ico-google {
    width: 17px;
    height: 20px;
  }

  &.ico-apple {
    width: 17px;
    height: 20px;
  }
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .login-scroll {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 16px;
    max-height: 100%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
  }
}

.login-content {
  position: relative;
  max-width: 552px;
  margin: 0 auto;
  width: 100%;
  background-color: $white;
  padding: 48px;
  border-radius: 8px;

  @media screen and (max-width: 480px) {
    padding: 32px 24px;
  }

  .login-title {
    margin: 0 0 20px;
    font: 700 24px/1.33 $base-font-family-sans-serif;
    color: $trolley-grey-800;
  }
}

.login-form {
  margin: 0 0 20px;
  .input-group {
    position: relative;
    margin: 0 0 20px;
  }
  .input-label {
    font: 700 14px/1.7 $base-font-family-sans-serif;
    color: $trolley-grey-800;

    .input-text {
      display: inline-block;
    }
  }
  .input-row {
    display: block;
    width: 100%;
    padding: 8px;
    height: 32px;
    border: 1px solid $trolley-grey-300;
    border-radius: 4px;
    font: 400 14px/1.14 $base-font-family-sans-serif;
    color: $trolley-grey-300;
    transition: all 0.2s ease-in;

    &:hover {
      border-color: $trolley-grey-500;
    }

    &:focus {
      color: $trolley-grey-300;
    }

    &:invalid {
      border-color: $jelly-bean-500;
      & + .input-error {
        display: block;
      }
    }
  }
  .input-error {
    position: relative;
    bottom: -16px;
    margin-top: -16px;
    padding: 0 8px;
    font: 600 12px/1.33 $base-font-family-sans-serif;
    color: $jelly-bean-500;
    display: none;
  }
  .form-footnote {
    margin: 0 0 12px;
    font: 400 12px/1.33 $base-font-family-sans-serif;
    color: $trolley-grey-700;
    .link {
      font-weight: 600;
      color: $slate-blue-600;
      transition: all 0.2s ease-in;
      &:hover {
        color: $slate-blue-400;
      }
      &.link-hightlighted {
        text-decoration: underline;
      }
    }
  }
  .form-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: $dark-orange-500;
    font: 600 14px/1.14 $base-font-family-sans-serif;
    color: $white;
    transition: all 0.2s ease-in;
    &:hover {
      cursor: pointer;
      background-color: $dark-orange-300;
    }
  }

}

.login-divider {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  font: 600 14px/1.7 $base-font-family-sans-serif;
  color: $trolley-grey-500;

  .divider-text {
    display: inline-block;
    position: relative;
    max-width: 90%;
    background-color: $white;
    padding: 0 8px;
    text-align: center;
    z-index: 2;
  }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      height: 1px;
      max-width: 90px;
      width: 50%;
      border-radius: 4px;
      background-color: $light-grey;
      transform: translateY(-50%);
      z-index: 1;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
}

.list {
  display: flex;
  margin: 0 -6px;

  @media screen and (max-width: 414px) {
    flex-direction: column;
  }

  .list-item {
    flex: 1;
    padding: 0 6px;

    @media screen and (max-width: 414px) {
      margin: 0 0 8px;
    }

    &:last-child {
      @media screen and (max-width: 414px) {
        margin: 0;
      }
    }
  }

  .list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid $trolley-grey-300;
  }

  .list-text {
    margin-left: 8px;
    font: 600 14px/1.7 $base-font-family-sans-serif;
    color: $trolley-grey-800;
  }
}