* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 15px 40px;
  background-color: #88ec69;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  z-index: 2;
  color: #000;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button .text {
  position: relative;
  z-index: 3;
}

.button .buble {
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 1;
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: #3310d1;
  border-radius: 80% 0 0 0;
}

.button:hover {
  color: #fff;
}

.button:hover .buble {
  -webkit-animation: motion 1.5s ease-in forwards;
          animation: motion 1.5s ease-in forwards;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  /*z-index: 9;*/
}

.modal .md-scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  width: calc(100% + 40px);
  padding: 32px 38px;
  overflow-y: auto;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal .md-body {
  display: block;
  position: relative;
  max-width: 664px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 48px 32px 32px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .modal .md-body {
    padding: 32px 24px;
  }
}

.modal .cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.modal .cross:before, .modal .cross:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 2px;
  height: 15px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .cross:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .md-head {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 0 24px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .modal .md-head {
    padding: 0 0 16px;
  }
}

.modal .md-head .title {
  display: block;
  font: 700 18px/1.55 sans-serif;
  color: #f00;
  letter-spacing: 0px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .modal .md-head .title {
    font-size: 16px;
  }
}

.modal .modal-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.text-row {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 0 8px;
}

.text-row p {
  display: block;
  font: 400 14px/1.5 sans-serif;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .text-row p {
    font-size: 14px;
  }
}

@-webkit-keyframes motion {
  50% {
    bottom: 0px;
    left: -10px;
  }
  100% {
    bottom: 0;
    left: -20px;
  }
}

@keyframes motion {
  50% {
    bottom: 0px;
    left: -10px;
  }
  100% {
    bottom: 0;
    left: -20px;
  }
}
/*# sourceMappingURL=style.css.map */