$base-font-family-sans-serif:'Proxima Nova', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

//link's color
$white:     #fff;
$black:     #000;
$main-black:#1E2E36;
$green:     #44C697;
$green-2:   #2da97c;
$red:       #FF1B1B;
$grey:      #BCBDBB;

//headings
$h1-font-size:64px;
$h2-font-size:48px;
$h3-font-size:36px;
$h4-font-size:24px;
$h5-font-size:18px;

//text
$p-font-size:16px;